@using ForensicExpertCRM_Web.Models.Employee;
@model EmployeeViewModel

@{
    ViewData["Title"] = "Создать";
}

<h1 align="center">Создать сотрудника</h1>
<hr />
<div>

    <form asp-action="Create" asp-controller="Employee" id="CreateForm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="create">
            <div class="create-item">
                <div class="create-label control-label">
                    Имя
                </div>

                <div class="create-input ">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>





            <div class="create-item">

                <div class="create-input check-box-list">
                    @{
                        var expertManagment = ViewBag.EmployeeManagments as List<EmployeeManagment>;

                        <label class="form-label">Выберите подразделение:</label>
                        <select class="form-select" asp-for="EmployeeManagmentId">
                            @{
                                foreach (var item in expertManagment)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                    }
                </div>

                <div class="create-item">
                    <div class="create-label control-label">
                        Логин
                    </div>

                    <div class="create-input">
                        <input asp-for="Login" class="form-control" />
                        <span asp-validation-for="Login" class="text-danger"></span>
                    </div>
                </div>

                <div class="create-item">
                    <div class="create-label control-label">
                        Пароль
                    </div>

                    <div class="create-input">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>

            </div>


            <hr />
            <input type="submit" class="btn btn-primary w-100" value="Создать" />
        </div>
    </form>
</div>

@section scripts {

    <script type="text/javascript">

        $('form').eq(0).on("change", function (e) {
            console.log("change");
            target = e.target;
            console.log(target);
            console.log(target.getAttribute("expertmangament"));
            if (target.getAttribute("expertmangament") == null) return;

            $('input[expertmangament]').each(function () {

                if (e.target != this)
                    this.checked = false;
            });
        })

                //$('form').eq(0).on('submit', function () {
                //    return $('input[name^=field]:checked:enabled').length == 1;
                //});
    </script>

}





