@model Employee

@{
    ViewData["Title"] = "Сотрудник";
}

<h1 align="center">Сотрудник</h1>

<div>
    <hr />
    <div class="details">
        <div class="details-item">
            <div class="details-item-label">
                Имя
            </div>

            <div class="details-item-value">
                @Model.Name
            </div>

            <br />

            <div class="details-item-label">
                Название подразделения
            </div>

            <div class="details-item-value">
                <a asp-action="Details" asp-controller="EmployeeManagments" asp-route-Id="@Model.EmployeeManagment.Id">@Model.EmployeeManagment.Name</a>
            </div>
        </div>
        <hr />

    </div>


</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Изменить</a> |
    <a asp-action="Index">Вернуться к списку</a>
</div>