@model             Employee

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<div>

    <form asp-action="Create" asp-controller="Expert">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="create">
            <div class="create-item">
                <div class="create-label control-label">
                    Имя 
                </div>

                <div class="create-input ">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>


            <input type="submit" class="btn btn-primary m-1" />
        </div>
    </form>
</div>
