@model             Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    
    <hr />
    <div class="details">
        <div class="details-item">
            <div class="details-item-label">
            </div>

            <div class="details-item-value">
            </div>
        </div>
    </div>


</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Вернуться к списку</a>
</div>