@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <div>
        <a asp-action="Index" asp-controller="TypeExpertises">TypeExpertises</a>
        <br />
        <a asp-action="Index" asp-controller="Employee">Employee</a>
        <a asp-action="Index" asp-controller="EmployeeManagments">EmployeeManagments</a>
        <br />
        <a asp-action="Index" asp-controller="Expert">Expert</a>
        <a asp-action="Index" asp-controller="ExpertManagments">ExpertManagments</a>
        <br />
        <a asp-action="Index" asp-controller="Expertises">Expertises</a>
    </div>
  
</div>
