@model ForensicExpertCRM_Web.Data.Domain.TypeExpertise

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TypeExpertise</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <h3>Эксперты</h3>
    @{
        foreach (var expert in Model.Experts)
        {
            <p>@expert.Name</p>
        }
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
