@using ForensicExpertCRM_Web.Models.Expertise;

@model ExpertiseAcceptViewModel

@{
    ViewData["Title"] = "Accept";
    var experts = ViewBag.Experts as List<Expert>;
}

<h1>Create</h1>
<a asp-action="Create">Подтвердите создание экспертизы</a>
<div>

    <form asp-action="Create" asp-controller="Expertises" id="CreateForm" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="create">
            <div class="create-item">
                <div class="create-label control-label">
                    Тип экспертизы
                </div>

                <div class="create-input ">
                    <select class="form-select" asp-for="ExpertId">
                        @{
                            foreach (var item in experts)
                            {
                                <option value="@item.Id">@item.Name </option>
                            }
                        }
                    </select>

                    <span asp-validation-for="ExpertId" class="text-danger"></span>
                </div>
            </div>


            <div class="create-item">
                <div class="create-label control-label">
                    Вопросы эксперту
                </div>

                <div class="create-input">
                    <input asp-for="ExpertiseViewModel.Questions" class="form-control" />
                    <span asp-validation-for="ExpertiseViewModel.Questions" class="text-danger"></span>
                </div>
            </div>



            <div class="create-item">
                <div class="create-label control-label">
                    Материалы
                </div>


                @{
                    foreach (var item in Model.ExpertiseViewModel.uploads)
                    {
                        
                    }
                }
                <div class="create-input">
                    <input type="file" name="uploads" /><br>
                    <input type="file" name="uploads" /><br>
                    <input type="file" name="uploads" /><br>
                </div>
            </div>

            <div class="create-item">
                <div class="create-label control-label">
                    Срок
                </div>

                <div class="create-input">
                    <input asp-for="ExpertiseViewModel.TermDateTime" class="form-control" />
                    <span asp-validation-for="ExpertiseViewModel.TermDateTime" class="text-danger"></span>
                </div>
            </div>


            <input type="submit" class="btn btn-primary m-1" />
        </div>
    </form>
</div>

@section scripts {
    @*
    <script type="text/javascript">

        $('form').eq(0).on("change", function (e) {
            console.log("change");
            target = e.target;
            console.log(target);
            console.log(target.getAttribute("expertmangament"));
            if (target.getAttribute("expertmangament") == null) return;

            $('input[expertmangament]').each(function () {

                if (e.target != this)
                    this.checked = false;
            });
        })*@

                    //$('form').eq(0).on('submit', function () {
                    //    return $('input[name^=field]:checked:enabled').length == 1;
                    //});
        </script>

}





